html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#output {
    visibility: hidden;
}

.display-card {
    width: 180px;
    min-width: 180px;
    max-width: 180px;
    height: 220px;
}

.card-body-text {
    height: 100px;
}

@media screen and (orientation: portrait) {
    body {
        transform: rotate(0deg);
    }
}

@media screen and (orientation: landscape) {
    body {
        transform: rotate(0deg);
    }
}